<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientRegisterAction</servlet-name>
        <servlet-class>com.gcloud.actions.PatientRegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginCheck</servlet-name>
        <servlet-class>com.gcloud.actions.PatientLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HSPRegisterAction</servlet-name>
        <servlet-class>com.gcloud.actions.HSPRegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HSPLoginCheck</servlet-name>
        <servlet-class>com.gcloud.actions.HSPLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AASRegisterAction</servlet-name>
        <servlet-class>com.gcloud.actions.AASRegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AASLoginCheck</servlet-name>
        <servlet-class>com.gcloud.actions.AASLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorityLoginCheck</servlet-name>
        <servlet-class>com.gcloud.actions.AuthorityLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthirityLoginCheck</servlet-name>
        <servlet-class>com.gcloud.actions.AuthirityLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientFileUpload</servlet-name>
        <servlet-class>com.gcloud.actions.PatientFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filerequest</servlet-name>
        <servlet-class>com.gcloud.actions.filerequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientRegisterAction</servlet-name>
        <url-pattern>/PatientRegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginCheck</servlet-name>
        <url-pattern>/PatientLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HSPRegisterAction</servlet-name>
        <url-pattern>/HSPRegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HSPLoginCheck</servlet-name>
        <url-pattern>/HSPLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AASRegisterAction</servlet-name>
        <url-pattern>/AASRegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AASLoginCheck</servlet-name>
        <url-pattern>/AASLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorityLoginCheck</servlet-name>
        <url-pattern>/AuthorityLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthirityLoginCheck</servlet-name>
        <url-pattern>/AuthirityLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientFileUpload</servlet-name>
        <url-pattern>/PatientFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filerequest</servlet-name>
        <url-pattern>/filerequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
